{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-3 my-md-5">
    <div class="row">
        {% if cart_items %}
        <div class="col col-xl-7 offset-xl-1 mb-2">
            <div class="card pt-4">
                <h2 class="ui-font text-center">your cart</h2>
                <table id="cart-items" class="table-responsive mb-1">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td><img class="cart-image" src="{{ MEDIA_URL }}{{ item.item|use_media:'COVER.src' }}"
                                    alt="{{ item.item|use_media:'COVER.descr' }}"></td>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.item.final_price|multiply:item.quantity }}</td>
                            <td class="remove-item"><button role="button" data-id="{{ item.item.id }}"
                                    data-game="{{ item.item.model_name }}"
                                    class="remove-item__btn btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                    data-bs-title="Remove Game"><i class="fa-solid fa-xmark"></i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="empty-cart col-12 col-xl-7 offset-xl-1 d-flex flex-column flex-md-row align-items-center py-2 order-1">
            <img src="{{ MEDIA_URL }}customer-profile-glados-portal-game.webp" alt="">
            <div class="bubble pt-2 pb-1 px-3 mt-3 ms-md-4 d-flex flex-column align-items-center">
                <h2 class="fs-2">It's not often I encounter an empty cart in this facility. I'm almost impressed by your
                    lack of items.</h2>
                <a href="{% url 'games' %}" class="btn btn-outline-gamebox mb-2">KEEP LOOKING</a>
            </div>
        </div>
        {% endif %}
        <div class="col col-md-6 offset-md-3 col-xl-3 mt-3 order-3">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h2 id="cart-subtotal" class="card-title fs-5">Subtotal ({{ cart_items|length }} {% if care_items|length == 1 %} item{% else %} items{% endif %}): £<strong>{{ total }}</strong></h2>
                    <a role="button" href="{% url 'checkout' %}" class="btn btn-gamebox my-2">Proceed to Checkout</a>
                </div>
            </div>
        </div>
        {% if not cart_items %}
        <div class="col-12 col-xl-7 offset-1 ms-0 mt-2 order-2">
            <small>
                Just like the witty character who inspired it, this message is meant to be humorous. No judgment here!
                We do however encourage you to keep exploring our selection of games! &#59;&#41;
            </small>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    let removeItemBtns = document.querySelectorAll('.remove-item__btn')

    removeItemBtns.forEach(btn => {
        let btnParentRow = btn.parentNode.parentNode
        let gameId = btn.dataset.id
        let gameType = btn.dataset.game
        btn.addEventListener('click', function (event) {
            removeCartItem('remove', gameId, gameType, btnParentRow);
        })
        btn.addEventListener('keydown', function (event) {
            if (event.key === 'Enter' || event.key === ' ') {
                removeCartItem('remove', gameId, gameType, btnParentRow);
            }
        });
    })

    function removeCartItem(action, gameId, model_name, row) {
        const csrftoken = document.cookie.match(/csrftoken=([\w-]+)/)[1];

        const data = {
            'game_id': gameId,
            'model_name': model_name,
            'action': action,
        };

        const url = "{% url 'cart_remove' %}";

        fetch('/cart/_remove/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                credentials: 'include',
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                let table = document.querySelector('#cart-items');
                let tableParent = table.parentNode
                let subtotalHeader = document.querySelector('#cart-subtotal strong')
                subtotalHeader.innerText = Number((subtotalHeader.innerText - row.children[3].innerText).toFixed(2))
                row.remove();
                // Bootstrap Tooltips break when deleting rows, so we have to remove them manually.
                let strayTooltips = document.querySelectorAll("[id^='tooltip']")
                strayTooltips.forEach(tip => {
                    tip.remove()
                })
                if (table.querySelectorAll('tbody tr').length == 0) {
                    table.remove()
                    tableParent.innerHTML = `
                    <div class='card-body d-flex flex-column align-items-center'>
                        <h2 class='cart-title ui-font'>uh-oh!</h2>
                        <h3 class='cart-title text-center'>Your cart appears to be empty. Looks like you'll have to find some games to add!</h3>
                        <a href="/games/" class="btn btn-outline-gamebox my-2">BROWSE GAMES</a>
                    </div>`
                }
            })
            .catch(error => {
                console.error('There was an error:', error);
            });
    }
</script>
{% endblock %}