{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block extra_title %}| My Cart{% endblock %}

{% block page_header %}
<h1 class="visually-hidden">Cart Page</h1>
{% endblock %}

{% block content %}
    <!-- Cart Table (if cart is not empty) -->
    <div class="container my-3 my-md-5">
        <div class="row justify-content-md-center justify-content-lg-start">
            {% if cart_items %}
                <div class="col col-xl-7 offset-xl-1 mb-2">
                    <div class="card pt-4">
                        <h2 class="ui-font text-center">your cart</h2>
                        <table id="cart-items" class="table-responsive mb-1">
                            <thead>
                                <tr>
                                    <td scope="col"></td>
                                    <th scope="col">Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                    <td scope="col"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                    <tr>
                                        <td>
                                            <a target="_blank"
                                               href="{% url 'game' item.item.model_name item.item.id %}">
                                                <img class="cart-image" 
                                                     width="80"
                                                     height="110"
                                                     src="{{ MEDIA_URL }}{{ item.item|use_media:'COVER.src' }}"
                                                     alt="{{ item.item|use_media:'COVER.descr' }}">
                                            </a>
                                        </td>
                                        <td>
                                            <a target="_blank"
                                               href="{% url 'game' item.item.model_name item.item.id %}">{{ item.item.name }}</a>
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.item.final_price|multiply:item.quantity }}</td>
                                        <td class="remove-item">
                                            <button type="button"
                                                    data-id="{{ item.item.id }}"
                                                    data-game="{{ item.item.model_name }}"
                                                    class="remove-item__btn btn btn-sm btn-danger"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-title="Remove Game">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <!-- Emtpy cart image and speech bubble -->
                <div class="empty-cart col-12 col-xl-7 offset-xl-1 d-flex flex-column flex-md-row align-items-center py-2 order-1 order-md-0">
                    <img src="{{ MEDIA_URL }}empty-cart-img.webp" 
                         alt="Artwork of the video game character GLaDOS">
                    <div class="bubble pt-2 pb-1 px-3 mt-3 ms-md-4 d-flex flex-column align-items-center">
                        <h2 class="fs-2">
                            It's not often I encounter an empty cart in this facility. I'm almost impressed by your
                            lack of items.
                        </h2>
                        <a href="{% url 'games' %}" class="btn btn-outline-gamebox mb-2">KEEP LOOKING</a>
                    </div>
                </div>
            {% endif %}
            <div class="col col-md-5 col-xl-3 mt-3 mt-md-0 order-3 order-lg-0">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h2 id="cart-subtotal" class="card-title fs-5">
                            Subtotal ({{ cart_items|length }}
                            {% if care_items|length == 1 %}
                                item
                            {% else %}
                                items
                            {% endif %}
                            ): £<strong>{{ total }}</strong>
                        </h2>
                        <a role="button"
                           href="{% url 'checkout' %}"
                           class="btn btn-gamebox my-2">Proceed to Checkout</a>
                        <a role="button"
                           href="{% url 'games' %}"
                           class="btn btn-gamebox-alt mb-2">Continue Browsing</a>
                    </div>
                </div>
            </div>
            <!-- Text accompanying empty cart image -->
            {% if not cart_items %}
                <div class="col-12 col-xl-7 offset-xl-1 mt-2 order-2 order-md-0 mb-3">
                    <small>
                        Just like the witty character who inspired it, this message is meant to be humorous. No judgment here!
                        We do however encourage you to keep exploring our selection of games! &#59;&#41;
                    </small>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Get href from the table row use it as a redirect on click
        let rows = document.querySelectorAll('tr');
        rows.forEach(row => {
            if (row.hasAttribute('data-href')) {
                row.addEventListener('click', e => {
                    window.location.href = row.dataset.href;
                });
            }
        });
    </script>
    <script>
        const errorToast = `{% include 'includes/toasts/toast-error.html'%}`;
        const successToast = `{% include 'includes/toasts/toast-success.html'%}`;
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        let removeItemBtns = document.querySelectorAll('.remove-item__btn');

        removeItemBtns.forEach(btn => {
            let btnParentRow = btn.parentNode.parentNode;
            let gameId = btn.dataset.id;
            let gameType = btn.dataset.game;
            btn.addEventListener('click', function(event) {
                removeCartItem(gameId, gameType, btnParentRow);
            });
            btn.addEventListener('keydown', function(event) {
                if (event.key === 'Enter' || event.key === ' ') {
                    removeCartItem(gameId, gameType, btnParentRow);
                }
            });
        });
        // Async function to handle removing items from cart
        function removeCartItem(gameId, model_name, row) {
            const csrftoken = document.cookie.match(/csrftoken=([\w-]+)/)[1];

            const data = {
                'game_id': gameId,
                'model_name': model_name,
            };

            let newToastNode = document.createElement('div');
            let messageDiv = document.querySelector('.message-container');
            messageDiv.insertBefore(newToastNode, messageDiv.firstChild);

            fetch('/cart/_remove/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    credentials: 'include',
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        newToastNode.outerHTML = errorToast;
                        messageDiv.children[0].children[0].children[0].innerHTML = `
                            System malfunction! Please try again later.`;
                    }
                    return response.json();
                })
                .then(data => {
                    let table = document.querySelector('#cart-items');
                    let tableParent = table.parentNode;
                    let subtotalHeader = document.querySelector('#cart-subtotal strong');
                    let gameName = row.children[1].children[0].innerHTML;

                    subtotalHeader.innerText = (parseFloat(subtotalHeader.innerText) - parseFloat(row.children[3].innerText))
                        .toFixed(2);
                    row.remove();

                    // Bootstrap Tooltips break when deleting rows, so we have to remove them manually.
                    let strayTooltips = document.querySelectorAll("[id^='tooltip']");
                    strayTooltips.forEach(tip => {
                        tip.remove();
                    });

                    newToastNode.outerHTML = successToast;
                    messageDiv.children[0].children[0].children[0].innerHTML = `
                            ${gameName} has been removed from your cart!`;

                    const toastElList = document.querySelectorAll('.toast');
                    const new_toast = new bootstrap.Toast(toastElList[0]);
                    new_toast.show();

                    if (table.querySelectorAll('tbody tr').length == 0) {
                        table.remove();
                        tableParent.innerHTML = `
                            <div class='card-body d-flex flex-column align-items-center'>
                                <h2 class='cart-title ui-font'>uh-oh!</h2>
                                <h3 class='cart-title text-center'>Your cart appears to be empty. Looks like you'll have to find some games to add!</h3>
                                <a href="/games/" class="btn btn-outline-gamebox my-2">BROWSE GAMES</a>
                            </div>`;
                    }
                })
                .catch(error => {
                    newToastNode.outerHTML = errorToast;
                    messageDiv.children[0].children[0].children[0].innerHTML = `
                            There has been an error: ${error}`;

                    const toastElList = document.querySelectorAll('.toast');
                    const new_toast = new bootstrap.Toast(toastElList[0]);
                    new_toast.show();
                });
        }
    </script>
{% endblock %}
