{% extends '../base.html' %}
{% load static %}
{% load cart_tags %}


{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        {% include "../allauth/includes/account_nav.html" %}
        <div id="myprofile" class="col-12 col-sm-10 col-md-6 col-xl-4 offset-xl-1 mb-5">
            <form method="POST" action="{% url 'billing_address' %}" id="user-profile" class="card align-items-center">
                {% csrf_token %}
                <div class="card-body w-100">
                    <h2 class="card-title fs-2 text-center ui-font">default billing address</h2>
                    <fieldset>
                        <legend class="fieldset-label px-1 w-auto">Contact Details</legend>
                        {{ form.default_phone_number|as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend class="fieldset-label px-1 w-auto">Address</legend>
                        {{ form.default_street_address1|as_crispy_field }}
                        {{ form.default_street_address2|as_crispy_field }}
                        {{ form.default_town_or_city|as_crispy_field }}
                        {{ form.default_postcode|as_crispy_field }}
                        {{ form.default_county|as_crispy_field }}
                        {{ form.default_country|as_crispy_field }}
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-gamebox mb-3">UPDATE</button>
            </form>
        </div>
    </div>
    {% endblock %}