{% extends '../base.html' %}
{% load static %}

{% block content %}
<!-- User Details Display -->
    <div class="container my-5">
        <div class="row align-items-start">
            {% include "../allauth/includes/account_nav.html" %}
            <div id="myprofile"
                 class="col col-lg-6 col-xl-4 mb-3 p-0 px-2 px-md-0 me-md-2">
                <form method="post"
                      action="{% url 'profile' %}"
                      id="user_profile"
                      class="card">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title fs-2 text-center ui-font">my details</h2>
                        <div class="mb-1 d-flex align-items-center">
                            <label for="myprofile_first_name">
                                <strong>First Name:</strong>
                            </label>
                            <input name="myprofile_first_name"
                            id="myprofile_first_name"
                                   type="text"
                                   class="form-control"
                                   value="{{ profile.user.first_name }}"
                                   placeholder="First Name">
                        </div>
                        <div class="mb-1 d-flex align-items-center">
                            <label for="myprofile_last_name">
                                <strong>Last Name:</strong>
                            </label>
                            <input name="myprofile_last_name"
                            id="myprofile_last_name"
                                   type="text"
                                   class="form-control"
                                   value="{{ profile.user.last_name }}"
                                   placeholder="Last Name">
                        </div>
                        <div class="mb-1 d-flex align-items-center">
                            <label for="myprofile_username">
                                <strong>Username:</strong>
                            </label>
                            <input name="myprofile_username"
                            id="myprofile_username"
                                   class="form-control text-muted"
                                   type="text"
                                   value="{{ profile.user.username }}"
                                   readonly>
                        </div>
                        <div class="mb-2 d-flex align-items-center">
                            <label for="myprofile_email">
                                <strong>Email Address:</strong>
                            </label>
                            <input name="myprofile_email"
                                    id="myprofile_email"
                                   class="form-control text-muted"
                                   type="text"
                                   value="{{ profile.user.email }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="my-2 d-flex align-items-center">
                            <span class="myprofile-slabel me-3">
                                <strong>Last Logged In:</strong>
                            </span>
                            <span>
                                {{ profile.user.last_login }}
                            </span>
                            </div>
                            <div class="my-2 d-flex align-items-center">
                                <span class="myprofile-slabel me-3">
                                    <strong>Date Joined:</strong>
                                </span>
                                <span>
                                    {{ profile.user.date_joined }}
                                </span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-gamebox mb-3 mx-auto">UPDATE</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
