{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <form action="{% url 'checkout' %}" id="payment-form" method="POST" class="row">
        <div class="col-4">
            <div class="card pt-4">
                <h2 class="text-center ui-font">your order</h2>
                <table id="cart-items" class="table-responsive mb-1">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td><img class="cart-image" src="{{ MEDIA_URL }}{{ item.item|use_media:'COVER.src' }}"
                                    alt="{{ item.item|use_media:'COVER.descr' }}"></td>
                            <td>{{ item.item.name }}</td>
                            <td class="text-muted small"><em>{{ item.quantity }} @ £{{ item.item.final_price }}</em>
                            </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="d-flex align-items-center ps-1">
                        <div class="col d-flex flex-column">
                            {% csrf_token %}
                            <div class="form-check form-check-inline float-right mr-0">
                                {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save as default delivery
                                    address</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info"
                                    name="save-info" checked>
                                {% else %}
                                <div class="text-center">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
                                    <span>or</span>
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this
                                    <span></span>information</span>
                                </div>
                                {% endif %}
                            </div>
                            <fieldset>
                                <legend class="fieldset-label px-1 w-auto">Your Details</legend>
                                {{ order_form.full_name|as_crispy_field }}
                                {{ order_form.email|as_crispy_field }}
                                {{ order_form.phone_number|as_crispy_field }}
                            </fieldset>
                            <fieldset>
                                <legend class="fieldset-label px-1 w-auto">Delivery Address</legend>
                                {{ order_form.street_address1|as_crispy_field }}
                                {{ order_form.street_address2|as_crispy_field }}
                                {{ order_form.town_or_city|as_crispy_field }}
                                {{ order_form.postcode|as_crispy_field }}
                                {{ order_form.county|as_crispy_field }}
                                {{ order_form.country|as_crispy_field }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center">
                    <h2 id="cart-subtotal" class="card-title fs-5">Subtotal ({{ cart_items|length }}
                        {% if care_items|length == 1 %} item{% else %} items{% endif %}): £<strong>{{ total }}</strong>
                    </h2>
                    <fieldset class="px-3 py-1">
                        <legend class="fieldset-label text-black px-2 w-auto">Payment</legend>
                        <div id="payment-form">
                            <div id="card-element">
                                <div id="link-authentication-element">
                                    <!--Stripe.js injects the Link Authentication Element-->
                                </div>
                                <div id="payment-element">
                                    <!--Stripe.js injects the Payment Element-->
                                </div>
                                <div id="payment-message" class="hidden"></div>
                            </div>
                    </fieldset>
                    <p class="small text-danger mt-2">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged
                            <strong>£{{ total|floatformat:2 }}</strong></span>
                    </p>
                    <div class="btn-group d-flex text-right mb-2">
                        <a type="button" href="{% url 'cart' %}" class="btn btn-outline-gamebox">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-gamebox" type="submit">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text font-weight-bold">Pay Now</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    const stripe = Stripe('{{ stripe_public_key }}');
    const options = {
        // Fully customizable with appearance API.
        appearance: {
            theme: 'stripe'
        },
    };

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 3
    const elements = stripe.elements(options);

    var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#32325d"
            },
            border: "1px solid #000"
        },
        invalid: {
            fontFamily: 'Arial, sans-serif',
            color: "#fa755a",
            iconColor: "#fa755a"
        }
    };

    // Create and mount the Payment Element
    const cardElement = elements.create('card', {
        style: style
    });
    cardElement.mount('#card-element');
</script>
{% endblock %}