@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&family=Major+Mono+Display&display=swap');

/* CSS VARS */
:root {
    --ui-font: "Major Mono Display", sans-serif;
    --content-font: "Jost", sans-serif;
    --lm-logo-color: 0, 0, 0;
    --lm-text-color: 30, 30, 30;
    --lm-bg-color: 220, 220, 220;
    --dm-text-color: 255, 251, 252;
}

/* Bootstrap Overrides */
[data-bs-theme="light"] .nav-link:hover,
[data-bs-theme="light"] .navbar-nav {
    --bs-nav-link-hover-color: rgb(144, 0, 255);
    --bs-nav-link-padding-y: 0rem;
}

[data-bs-theme="dark"] .nav-link:hover,
[data-bs-theme="dark"] .navbar-nav {
    --bs-nav-link-hover-color: #9f0;
    --bs-nav-link-padding-y: 0rem;
}

/* noUIslider Overrides */
.noUi-horizontal {
    height: 9px;
}

.noUi-connect {
    background-color: #9000ff;
    border: 1px solid #1f1f1f;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -17px;
    top: -6px;
}

.noUi-handle {
    border: 1px solid #646464;
    border-radius: 10px;
}

.noUi-handle:before,
.noUi-handle::after {
    height: 12px;
    background: #cccccc;
    left: 10px;
    top: 3px;
}

.noUi-handle::after {
    left: 7px;
}

/* Shadows */
.navbar {
    --lg-stacked-shadow:
        0px 0.5px 0.4px hsl(var(--shadow-color) / 0.67),
        0px 0.6px 0.5px -0.6px hsl(var(--shadow-color) / 0.61),
        0px 1.2px 0.9px -1.1px hsl(var(--shadow-color) / 0.54),
        0px 2.8px 2.1px -1.7px hsl(var(--shadow-color) / 0.47),
        0px 6px 4.5px -2.2px hsl(var(--shadow-color) / 0.4),
        0px 11.1px 8.3px -2.8px hsl(var(--shadow-color) / 0.34),
        -0.1px 18.9px 14.2px -3.3px hsl(var(--shadow-color) / 0.27),
        -0.1px 29.7px 22.3px -3.9px hsl(var(--shadow-color) / 0.2),
        -0.2px 44.1px 33.1px -4.4px hsl(var(--shadow-color) / 0.13);
    box-shadow: var(--lg-stacked-shadow);
}

.game-cover--front,
.game-back--reverse,
#games-carousel,
.countdown img,
#games-filter {
    --lg-stacked-shadow:
        0px 0.5px 0.4px hsl(var(--shadow-color) / 0.67),
        0px 0.6px 0.5px -0.6px hsl(var(--shadow-color) / 0.61),
        0px 1.2px 0.9px -1.1px hsl(var(--shadow-color) / 0.54),
        0px 2.8px 2.1px -1.7px hsl(var(--shadow-color) / 0.47),
        0px 6px 4.5px -2.2px hsl(var(--shadow-color) / 0.4),
        0px 11.1px 8.3px -2.8px hsl(var(--shadow-color) / 0.34),
        -0.1px 18.9px 14.2px -3.3px hsl(var(--shadow-color) / 0.27),
        -0.1px 29.7px 22.3px -3.9px hsl(var(--shadow-color) / 0.2),
        -0.2px 44.1px 33.1px -4.4px hsl(var(--shadow-color) / 0.13),
        -0.2px 62.6px 47px -5px hsl(var(--shadow-color) / 0.07);
    box-shadow: var(--lg-stacked-shadow);
}

.carousel-container,
.deals {
    --inset-test-stacked-shadow:
        inset 0px -0.1px 0.1px hsl(var(--shadow-color) / 0.54),
        inset 0px -0.3px 0.3px -0.4px hsl(var(--shadow-color) / 0.52),
        inset 0px -0.6px 0.6px -0.7px hsl(var(--shadow-color) / 0.49),
        inset 0.1px -0.9px 0.9px -1.1px hsl(var(--shadow-color) / 0.46),
        inset 0.1px -1.4px 1.4px -1.5px hsl(var(--shadow-color) / 0.43),
        inset 0.1px -2.2px 2.2px -1.9px hsl(var(--shadow-color) / 0.41),
        inset 0.2px -3.3px 3.3px -2.2px hsl(var(--shadow-color) / 0.38),
        inset 0.3px -4.8px 4.8px -2.6px hsl(var(--shadow-color) / 0.35),
        inset 0.4px -6.8px 6.8px -3px hsl(var(--shadow-color) / 0.32),
        inset 0.5px -9.3px 9.3px -3.3px hsl(var(--shadow-color) / 0.3),
        inset 0px 0.1px 0.1px hsl(var(--shadow-color) / 0.54),
        inset 0px 0.4px 0.4px -0.4px hsl(var(--shadow-color) / 0.52),
        inset 0px 0.8px 0.8px -0.7px hsl(var(--shadow-color) / 0.49),
        inset 0.1px 1.2px 1.2px -1.1px hsl(var(--shadow-color) / 0.46),
        inset 0.1px 2px 2px -1.5px hsl(var(--shadow-color) / 0.43),
        inset 0.1px 3px 3px -1.9px hsl(var(--shadow-color) / 0.41),
        inset 0.2px 4.5px 4.5px -2.2px hsl(var(--shadow-color) / 0.38),
        inset 0.3px 6.5px 6.5px -2.6px hsl(var(--shadow-color) / 0.35),
        inset 0.4px 9.2px 9.2px -3px hsl(var(--shadow-color) / 0.32),
        inset 0.5px 12.6px 12.6px -3.3px hsl(var(--shadow-color) / 0.3);
    ;
    box-shadow: var(--inset-test-stacked-shadow);
}

/* ANY MODE */
body {
    min-height: 100vh;
    font-family: var(--content-font);
}

nav {
    position: relative;
    width: 90%;
    border-radius: 5px;
    z-index: 1000;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
}

.navbar-brand:hover {
    transition: text-shadow 1s ease;
}

.navbar-brand>span {
    letter-spacing: -.15rem;
    z-index: 0;
}

.nav-link {
    font-weight: bold;
}

nav * {
    font-family: var(--ui-font);
}

.nav-link.active {
    font-size: calc(100% + .2rem);
}

/* Carousel */
svg {
    position: absolute;
    inset: 0;
    width: 100%;
}

svg * {
    transform-box: fill-box;
    transform-origin: center center;
}

#box-bottom-shadows {
    filter: blur(15px);
}

[id*='-side-blur'] {
    filter: blur(25px);
}

.carousel-container {
    --shadow-color: 0deg 0% 25%;
    background-color: hsl(0, 0%, 100%);
    padding: 8.5rem 0;
    margin-top: -7rem;
}

#games-carousel {
    width: 60vw;
    background-color: #1f1f1f;
    padding: 0 !important;
    z-index: 1;
}

#games-carousel::before {
    position: absolute;
    content: '';
    inset: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background-color: hsl(0, 0%, 0%);
    filter: blur(5px);
    z-index: 0;
}

#games-carousel,
.carousel-inner,
#games-carousel img {
    border-radius: 4px;
}

#games-carousel .overlay {
    position: absolute;
    inset: 0;
    top: 20%;
    background: rgb(136, 136, 136);
    background: -moz-linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, rgba(112, 45, 189, 1) 45%);
    background: -webkit-linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, rgba(112, 45, 189, 1) 45%);
    background: linear-gradient(180deg, rgba(136, 136, 136, 0) 0%, rgba(112, 45, 189, 1) 45%);
}

#games-carousel img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    width: 100%;
    left: 0;
    padding-bottom: 2.5rem;
}

.carousel-caption h3 {
    font-weight: 700;
}

.carousel-item button {
    max-height: 72px;
    font-weight: 600;
}

.carousel-item button:hover {
    color: black;
    background-color: #9f0;
    border-color: transparent;
}

@media (max-width: 576px) {
    #games-carousel img {
        height: initial;
    }

    .carousel-indicators {
        bottom: -43px;
    }

    .carousel-item {
        min-height: 35vh;
    }

    .carousel-item button {
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
        float: right;
    }

    .carousel-item .carousel-caption {
        display: block !important;
        bottom: .5rem;
        flex-direction: column;
        padding: 0 .5rem !important;
    }

    .carousel-item .carousel-caption h3 {
        max-width: 100%;
        padding-bottom: .5rem;
    }
}

/* Game Container */

.game {
    position: relative;
    transform-style: preserve-3d;
    margin-bottom: 4rem;
}

.game *,
.deals *:not(.badge) {
    border-radius: 10px;
    transform-origin: center;
}

.game>* {
    --game-height: 250px;
    height: var(--game-height);
    transform-style: preserve-3d;
}

.game:hover .game-cover--front {
    -webkit-animation: game-cover-front-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: game-cover-front-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.game:hover .game-cover--reverse {
    -webkit-animation: game-cover-reverse-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: game-cover-reverse-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.game:hover .game-back--front {
    -webkit-animation: game-back-front-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: game-back-front-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.game:hover .game-back--reverse {
    -webkit-animation: game-back-reverse-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: game-back-reverse-flip 0.4s 0.15s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.game-cover--front {
    transform: translateZ(40px);
}

.game-cover--reverse {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transform: rotateY(180deg) translateZ(-39px);
}

.game-back--front {
    position: absolute;
    top: 20%;
    transform: rotateY(180deg) translateZ(40px);
}

.game-back--reverse {
    position: absolute;
    top: 20%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateZ(-39px);
}

[class*='game-cover-']:not([class*='image'], .game-cover--front),
[class*='game-back-']:not([class*='image'], img) {
    width: calc(100% - (var(--bs-gutter-x) * .5) * 2);
    padding: 0.4rem;
}

.game.sale .game-back--reverse {
    background-color: rgb(255, 238, 0) !important;
    background-image: url("/media/sale.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #1f1f1f;
}

.game-cover-image {
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

.game-cover-image::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
    pointer-events: none;
}

.game-cover-image img,
.countdown img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.game-title {
    position: absolute;
    left: 0;
    bottom: -6px;
    padding: 0 1rem;
}

.game-price,
.promo-discount {
    font-size: .9rem;
    font-weight: bolder;
    padding: 0.1rem 0.4rem 0;
    border-radius: 6px !important;
}

.game-price {
    background-color: #ededed !important;
    box-shadow: inset 0 1px 3px #1f1f1f;
}

.promo-discount {
    color: white;
    background-color: #6f2dbd !important;
    margin-bottom: 1px;
}

.game.sale .game-price {
    border: 1px solid #1f1f1f;
    margin-left: .25rem;
}

.game.sale .game-back--reverse {
    padding: calc(0.4rem - 2px);
}

.game-platforms {
    min-height: 28px;
    margin-left: .25rem;
}

.game-platforms img {
    border-radius: 0;
    height: fit-content;
    width: 24px;
    margin: 0 .25rem .1rem 0;
    filter: invert(0%) sepia(26%) saturate(2976%) hue-rotate(73deg) brightness(88%) contrast(87%);
}

.game .add-cart {
    background-color: #1f1f1f;
    color: white;
    padding: 0 .4rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

.game .add-cart i {
    padding-top: .1rem;
}

.game .add-cart span {
    font-size: 1rem;
}

/* Deals of the Day Countdown*/
.countdown {
    --shadow-color: 0deg 0% 25%;
    position: relative;
    height: 400px;
}

.countdown::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 8px;
    width: calc((100% + 8px) - var(--bs-gutter-x));
    height: calc(100% + 6px);
    border-radius: inherit;
    filter: blur(10px);
}

.countdown::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--bs-gutter-x) * .5);
    width: calc(100% - var(--bs-gutter-x));
    height: calc(100% + 1px);
    border-radius: inherit;
    z-index: 1;
}

.countdown:nth-child(odd)::after {
    border: 4px solid #9f0;
}

.countdown:nth-child(even)::after {
    border: 4px solid #9000ff;
}

.countdown:nth-child(odd)::before {
    border: 2px solid rgb(203, 255, 124);
}

.countdown:nth-child(even)::before {
    border: 2px solid #c77dff;
}

.countdown:nth-child(even) .deal-discount {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFF, 0 0 20px hsl(84, 100%, 30%), 0 0 30px hsl(84, 100%, 30%), 0 0 40px hsl(84, 100%, 30%), 0 0 55px #9f0, 0 0 75px #9f0;
}

.countdown:nth-child(odd) .deal-discount {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFF, 0 0 20px #9000ff, 0 0 30px #9000ff, 0 0 40px #9000ff, 0 0 55px #9000ff, 0 0 75px #9000ff;
}

.countdown:nth-child(odd) .final-price {
    background-color: #9000ff;
}

.countdown:nth-child(even) .final-price {
    color: #1f1f1f;
    background-color: #9f0;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: calc(var(--bs-gutter-x) * .5);
    width: calc(100% - var(--bs-gutter-x));
    height: calc(100% + 1px);
    z-index: 2;
    color: white;
    text-decoration: none;
}

.content-overlay [class*='wrapper'] {
    height: 33%;
    width: 100%;
}

.countdown p {
    line-height: .5rem;
}

.countdown p span {
    font-weight: bolder;
}

.countdown img {
    filter: brightness(20%) saturate(50%);
}

.countdown-timer {
    color: #9f0;
    font-weight: 600;
}

.countdown:nth-child(odd) .countdown-timer {
    color: hsl(274, 100%, 80%);
}

.countdown:nth-child(even) .countdown-timer {
    color: #9f0;
}

.countdown-timer span {
    color: white;
    font-size: 1rem;
    font-weight: 400 !important;
}

/* Browse/Games */
#games-filter {
    --shadow-color: 0deg 0% 25%;
}

#games-list .form-control::-webkit-outer-spin-button,
#games-list .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#game-filter-form [type=reset] {
    background-color: rgb(133, 133, 133);
    border: 1px solid rgb(133, 133, 133);
}

#game-filter-form [type=submit] {
    background-color: #6f2dbd;
    border: 1px solid #6f2dbd;
}

/* Firefox */
#games-list .form-control[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#games-filter .form-control {
    padding: 0.375rem;
    padding-right: 0;
    font-size: 0.875rem;
    font-weight: 500;
}

#games-filter .accordion>* {
    border-radius: 0 !important;
}

#games-filter .accordion h2 {
    font-family: 'Jost', sans-serif;
}

#games-header {
    background-color: transparent;
    border: none;
}

#games-header .card-body {
    padding: .5rem;
}

#pagination>*:first-child{
    border-radius: 5px 0 0 5px;
}

#pagination>*:last-child {
    border-radius: 0 5px 5px 0;
}

#pagination>*:first-child:hover,
#pagination>*:last-child:hover {
    transform: scale(1.1);
    color: #9000ff;
    border: 1px solid #9000ff;
    box-shadow: 0 0 2px #9000ff;
    transition: all .2s ease-in;
}

#pagination input:hover,
#pagination input:focus,
#pagination input:active {
    color: #9000ff;
    box-shadow: 0 0 2px #9000ff;
    border-color: #9000ff;
    transition: all .2s ease-in;
}

#pagination *:not(input) {
    background-color: transparent;
    border: 1px solid transparent;
}

#pagination div {
    width: 20%;
}

#pagination input {
    border-radius: 0;
}

/* Footer */
footer form div {
    padding: 0 0 .5rem;
}

footer h5,
footer p {
    margin: 0 5%;
    text-align: center;
}

/* LIGHT MODE */

[data-bs-theme="light"] body {
    background-color: rgb(var(--lm-bg-color));
}

[data-bs-theme="light"] nav {
    background-color: rgba(255, 255, 255, 85%);
    border: 1px solid #1f1f1f;
}

[data-bs-theme="light"] nav::after {
    background-color: rgba(var(--lm-text-color), .95);
}

[data-bs-theme="light"] nav * {
    color: var(--lm-text-color);
}

[data-bs-theme="light"] .navbar {
    --shadow-color: 264deg 69% 23% !important;
}

[data-bs-theme="light"] .navbar-brand {
    color: var(--lm-logo-color);
}

[data-bs-theme="light"] .navbar-brand:hover {
    text-shadow: 0 0 6px #9f0;
}

[data-bs-theme="light"] .nav-link.active {
    color: #9000ff;
}

/* Carousel */

.carousel-item button.add-to-cart {
    background-color: #9f0;
}

.carousel-item button.browse {
    color: white;
    background-color: #6f2dbd;
}

/* Game Container */

[data-bs-theme="light"] .game>* {
    --shadow-color: 0deg 0% 42%;
}

[data-bs-theme="light"] .game:hover .game-cover--front {
    --shadow-color: 0deg 0% 42% !important;
    transition: all .4s linear;
}

[data-bs-theme="light"] .game:hover .game-back--reverse {
    --shadow-color: 76deg 100% 22% !important;
    transition: all .4s linear;
}

[data-bs-theme="light"] .game-cover--front {
    --shadow-color: 264deg 69% 23% !important;
    color: white;
    background-color: #1f1f1f;
}

[data-bs-theme="light"] .sale .game-cover--front {
    --shadow-color: 41deg 99% 22% !important;
}

[data-bs-theme="light"] .game-cover--reverse {
    background-color: #bfff00;
}

[data-bs-theme="light"] .game-back--front {
    background-color: whitesmoke;
    border: 1px solid #1f1f1f;
}

[data-bs-theme="light"] .game-back--reverse {
    background-color: #6f2dbd;
}

/* Deals */

[data-bs-theme="light"] .deals {
    --shadow-color: 0deg 0% 4%;
    background-color: #1f1f1f;
    color: white;
}

/* Animations/Keyframes */

@keyframes game-cover-front-flip {
    0% {
        -webkit-transform: rotateY(0) translateY(0) translateZ(40px);
        transform: rotateY(0) translateY(0) translateZ(40px);
        --shadow-color: 0deg 0% 42% !important;
    }

    100% {
        -webkit-transform: rotateY(-180deg) translateY(20%) translateZ(40px);
        transform: rotateY(-180deg) translateY(20%) translateZ(40px);
    }
}

@keyframes game-cover-reverse-flip {
    0% {
        -webkit-transform: rotateY(180deg) translateY(0) translateZ(-39px);
        transform: rotateY(180deg) translateY(0) translateZ(-39px);
    }

    100% {
        -webkit-transform: rotateY(0) translateY(20%) translateZ(-39px);
        transform: rotateY(0) translateY(20%) translateZ(-39px);
    }
}

@keyframes game-back-front-flip {
    0% {
        -webkit-transform: rotateY(180deg) translateY(0) translateZ(40px);
        transform: rotateY(180deg) translateY(0) translateZ(40px);
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(-20%) translateZ(40px);
        transform: rotateY(0deg) translateY(-20%) translateZ(40px);
    }
}

@keyframes game-back-reverse-flip {
    0% {
        -webkit-transform: rotateY(0deg) translateY(0) translateZ(-39px);
        transform: rotateY(0deg) translateY(0) translateZ(-39px);
    }

    100% {
        -webkit-transform: rotateY(-180deg) translateY(-20%) translateZ(-39px);
        transform: rotateY(-180deg) translateY(-20%) translateZ(-39px);
    }
}

/* Media Queries */
@media (max-width: 350px) {
    #games-carousel {
        width: 90vw;
    }
}

@media (min-width: 500px) {
    #pagination div {
        width: 15%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 800px;
    }

    .col-lg-2plus {
        width: 29%;
    }

    /* Custom Bootstraps */
    .col-3plus {
        width: 31%;
    }

    .col-8plus {
        flex: 0 0 auto;
        width: 68.19%;
    }

    /* Footer */
    footer h5,
    footer p {
        text-align: end;
        margin: auto 0;
    }
}

@media (min-width: 992px) {
    .col-lg-2plus {
        flex: 0 0 auto;
        width: 21%;
    }

    /* Custom Bootstraps */
    .col-3plus {
        width: 20%;
    }

    .col-8plus {
        flex: 0 0 auto;
        width: 68.19%;
    }
}

@media (min-width: 992px) {
    #pagination div {
        width: 15%;
    }
}

@media (max-width: 992px) {
    .game>* {
        --game-height: 206px;
    }
}

@media (min-width: 1200px) {
    #pagination div {
        width: 10%;
    }
}

@media (max-width: 1200px) {
    .badge {
        line-height: initial;
    }

    #games-carousel {
        width: 80vw;
    }

    .deals .container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .deals .row {
        justify-content: unset !important;
        margin: -1rem auto 0 !important;
        padding: 2rem 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
}

@media (min-width: 1400px) {
    .game {
        min-width: 225px;
    }

    #pagination div {
        width: 9%;
    }
}