{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="game-header w-100">
    <img src="{{ MEDIA_URL }}{{ game|use_media:'LANDING.src' }}" class="w-100"
        alt="{{ game|use_media:'LANDING.descr' }}"/>
    <div class="container__blur position-absolute">
        <div class="container game-detail-title d-flex flex-column justify-content-end">
            <div class="row">
                <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
                    <h2 class="display-3">{{ game.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container__shadow position-relative">
    <div class="container">
        <div class="game-detail-info row">
            <div class="game-detail-cover col-6 col-sm-4 col-md-3 col-xl-2">
                <img src="{{ MEDIA_URL }}{{ game|use_media:'COVER.src' }}" alt="{{ game|use_media:'COVER.descr' }}" />
                <button role="button" class="btn btn-gamebox w-100 mt-2">Add to cart</button>
            </div>
            <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
                <div class="game-genre-list mb-2">
                    <span><strong> Genre: </strong></span>
                    {% for genre in game.genres.all %}
                    {% if forloop.last %}
                    <a href="#" class="genre-link">{{ genre }}</a>
                    {% else %}
                    <a href="#" class="genre-link">{{ genre }}</a>,
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="game-platform-list mb-2">
                    <span><strong> Platforms: </strong></span>
                    {% for platform in game.platforms.all %}
                    {% if forloop.last %}
                    <a href="#" class="platform-link">{{ platform }}</a>
                    {% else %}
                    <a href="#" class="platform-link">{{ platform }}</a>,
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="game-description mt-3">
                    <p>{{ game.description }}</p>
                </div>
            </div>
            <div class="col-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <span class="h4">How would you rate this game?</span><br>
                        <span>Stars Placeholder</span><br>
                        <div class="rating-breakdown mt-3">
                            <span class="h4">Rating Breakdown</span><br>
                            <span>Graph Placeholder</span><br>
                            <span>Total ratings: {{ game.ratingset.all }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container__color text-bg-warning position-relative my-3">
    <div class="container">
        <div class="game-detail-media row">
            <div class="col my-3">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row d-flex w-100">
                                {% for item in media %}
                                {% if forloop.last and not media|length|divisibleby:2 and not forloop.first %}
                                {% elif forloop.counter|divisibleby:2 %}
                                <img src="{{ MEDIA_URL }}{{ item.file.name }}" class="d-block w-50 px-1"
                                    alt="{{ item.description }}">
                            </div>
                        </div>
                        {% if forloop.counter != media|length|add:"-1" and not media|length|divisibleby:2 %}
                        <div class="carousel-item">
                            <div class="row d-flex w-100">
                                {% endif %}
                                {% else %}
                                <img src="{{ MEDIA_URL }}{{ item.file.name }}" class="d-block w-50 px-1"
                                    alt="{{ item.description }}">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
            <div class="col">
                <h2 class="ui-font header-decoration">storyline</h2>
                <p>{{ game.storyline }}</p>
            </div>
            <div class="col mt-4">
                {% if game.model_name == 'game' %}
                <h2 class="ui-font header-decoration">related content</h2>
                <div class="col-3 d-flex mt-3">
                    {% for dlc in game.dlc_set.all %}
                    <a href="{% url 'game' dlc.model_name dlc.id %}" class="col dlc position-relative mx-1">
                        <span class="h5 position-absolute text-center">{{ dlc }}</span>
                        <img class="img-fluid w-100" src="{{ MEDIA_URL }}{{ dlc|use_media:'COVER.src'}}"
                            alt="{{ dlc|use_media:'COVER.descr'}}">
                    </a>
                    {% endfor %}
                    {% else %}
                    <h2 class="ui-font header-decoration">required Game</h2>
                    <div class="col-3 d-flex mt-3">
                        <a href="{% url 'game' game.required_game.model_name game.required_game.id %}"
                            class="col dlc position-relative mx-1">
                            <span class="h5 position-absolute text-center">{{ game.required_game.name }}</span>
                            <img class="img-fluid w-100"
                                src="{{ MEDIA_URL }}{{ game.required_game|use_media:'COVER.src'}}"
                                alt="{{ dlc|use_media:'COVER.descr'}}">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h2 class="ui-font h4">information</h2>
                <div class="dev-list d-flex flex-column my-1 ps-4">
                    <span><strong> Developers: </strong></span>
                    <div class="dev-list-inner">
                        {% for developer in game.developers.all %}
                        {% if forloop.last %}
                        <a href="#" class="developer-link">{{ developer }}</a>
                        {% else %}
                        <a href="#" class="developer-link">{{ developer }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="publisher-list d-flex flex-column my-1 ps-4">
                    <span><strong> Publishers: </strong></span>
                    <div class="publisher-list-inner">
                        {% for publisher in game.publishers.all %}
                        {% if forloop.last %}
                        <a href="#" class="publisher-link">{{ publisher }}</a>
                        {% else %}
                        <a href="#" class="publisher-link">{{ publisher }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tag-list d-flex flex-column my-1 ps-4">
                    <span><strong> Tags: </strong></span>
                    <div class="tag-list-inner">
                        {% for tag in game.tags.all %}
                        {% if forloop.last %}
                        <a href="#" class="tag-link">{{ tag }}</a>
                        {% else %}
                        <a href="#" class="tag-link">{{ tag }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="feature-list d-flex flex-column my-1 ps-4">
                    <span><strong> Features: </strong></span>
                    <div class="feature-list-inner">
                        {% for feature in game.features.all %}
                        {% if forloop.last %}
                        <a href="#" class="feature-link">{{ feature }}</a>
                        {% else %}
                        <a href="#" class="feature-link">{{ feature }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h2 class="ui-font h4 mt-3">age rating</h2>
                <div class="ratings-list d-flex flex-column ps-4">
                    <div class="ratings-list-inner d-flex align-items-center">
                        <img class="img-fluid mx-1" src="{{ MEDIA_URL }}{{ game.ratingset.esrb_rating.image }}"
                            alt="{{ game.ratingset.esrb_rating }}"
                            title="ESRB Rating: {{ game.ratingset.esrb_rating }}">
                        <img class="img-fluid mx-1" src="{{ MEDIA_URL }}{{ game.ratingset.pegi_rating.image }}"
                            alt="{{ game.ratingset.pegi_rating }}"
                            title="PEGI Rating: {{ game.ratingset.pegi_rating }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}