{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="game-header w-100">
    <img src="{{ MEDIA_URL }}{{ game|use_media:'LANDING.src' }}" class="w-100"
        alt="{{ game|use_media:'LANDING.descr' }}" />
    <div class="container__blur position-absolute">
        <div class="container game-detail-title d-flex flex-column justify-content-end">
            <div class="row">
                <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
                    <h2 class="display-3">{{ game.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container__shadow position-relative">
    <div class="container">
        <div class="game-detail-info row">
            <div class="game-detail-cover col-6 col-sm-4 col-md-3 col-xl-2">
                <img src="{{ MEDIA_URL }}{{ game|use_media:'COVER.src' }}" alt="{{ game|use_media:'COVER.descr' }}" />
                <button role="button" class="btn btn-gamebox w-100 mt-2">Add to cart</button>
            </div>
            <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
                <div class="game-genre-list mb-2">
                    <span><strong> Genre: </strong></span>
                    {% for genre in game.genres.all %}
                    {% if forloop.last %}
                    <a href="#" class="genre-link">{{ genre }}</a>
                    {% else %}
                    <a href="#" class="genre-link">{{ genre }}</a>,
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="game-platform-list mb-2">
                    <span><strong> Platforms: </strong></span>
                    {% for platform in game.platforms.all %}
                    {% if forloop.last %}
                    <a href="#" class="platform-link">{{ platform }}</a>
                    {% else %}
                    <a href="#" class="platform-link">{{ platform }}</a>,
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="game-description mt-3">
                    <p>{{ game.description }}</p>
                </div>
            </div>
            <div class="col-3 mt-3 position-relative">
                <div class="card">
                    <div class="card-body game-detail-rating p-3 m-3 mb-0 align-self-center">
                        <div class="d-flex d-flex flex-column justify-content-center align-items-center">
                            <span class="card-title m-0 fs-1">{{ game.ratingset.user_rating_calc }}</span>
                            <span class="fs-6 text-center">&nbsp;</span>
                        </div>
                    </div>
                    <p class="text-muted text-center mb-1"><small>Based on
                            {{ game.ratingset.userrating_set.all|length }} member ratings</small></p>
                    <div class="card-body d-flex flex-column py-0">
                        <h4 class="h6 cart-title">How would you rate this game?</h4>
                        <div class="stars-container d-flex justify-content-center fs-4 mt-1">
                            <a href="#" class="star star-1" data-id="1">
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" class="star star-2" data-id="2">
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" class="star star-3" data-id="3">
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" class="star star-4" data-id="4">
                                <i class="fa-solid fa-star"></i>
                            </a>
                            <a href="#" class="star star-5" data-id="5">
                                <i class="fa-solid fa-star"></i>
                            </a>
                        </div>
                        <div class="stars-message-container align-self-center">
                            <span class="stars-message">&nbsp;</span>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="rating-breakdown">
                            <h4 class="h6 card-title">Rating Breakdown</h4>
                            <span>Graph Placeholder</span><br>
                            <span>Total ratings: {{ game.ratingset.user_rating.all|length }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container__color text-bg-warning position-relative my-3">
    <div class="container">
        <div class="game-detail-media row">
            <div class="col my-3">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row d-flex w-100">
                                {% for item in media %}
                                {% if forloop.last and not media|length|divisibleby:2 and not forloop.first %}
                                {% elif forloop.counter|divisibleby:2 %}
                                <img src="{{ MEDIA_URL }}{{ item.file.name }}" class="d-block w-50 px-1"
                                    alt="{{ item.description }}">
                            </div>
                        </div>
                        {% if forloop.counter != media|length|add:"-1" and not media|length|divisibleby:2 %}
                        <div class="carousel-item">
                            <div class="row d-flex w-100">
                                {% endif %}
                                {% else %}
                                <img src="{{ MEDIA_URL }}{{ item.file.name }}" class="d-block w-50 px-1"
                                    alt="{{ item.description }}">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col offset-6 offset-sm-4 offset-md-3 offset-xl-2 pt-3">
            <div class="col">
                <h2 class="ui-font header-decoration">storyline</h2>
                <p>{{ game.storyline }}</p>
            </div>
            <div class="col mt-4">
                {% if game.model_name == 'game' %}
                <h2 class="ui-font header-decoration">related content</h2>
                <div class="col-3 d-flex mt-3">
                    {% for dlc in game.dlc_set.all %}
                    <a href="{% url 'game' dlc.model_name dlc.id %}" class="col dlc position-relative mx-1">
                        <span class="h5 position-absolute text-center">{{ dlc }}</span>
                        <img class="img-fluid w-100" src="{{ MEDIA_URL }}{{ dlc|use_media:'COVER.src'}}"
                            alt="{{ dlc|use_media:'COVER.descr'}}">
                    </a>
                    {% endfor %}
                    {% else %}
                    <h2 class="ui-font header-decoration">required Game</h2>
                    <div class="col-3 d-flex mt-3">
                        <a href="{% url 'game' game.required_game.model_name game.required_game.id %}"
                            class="col dlc position-relative mx-1">
                            <span class="h5 position-absolute text-center">{{ game.required_game.name }}</span>
                            <img class="img-fluid w-100"
                                src="{{ MEDIA_URL }}{{ game.required_game|use_media:'COVER.src'}}"
                                alt="{{ dlc|use_media:'COVER.descr'}}">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h2 class="ui-font h4">information</h2>
                <div class="dev-list d-flex flex-column my-1 ps-4">
                    <span><strong> Developers: </strong></span>
                    <div class="dev-list-inner">
                        {% for developer in game.developers.all %}
                        {% if forloop.last %}
                        <a href="#" class="developer-link">{{ developer }}</a>
                        {% else %}
                        <a href="#" class="developer-link">{{ developer }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="publisher-list d-flex flex-column my-1 ps-4">
                    <span><strong> Publishers: </strong></span>
                    <div class="publisher-list-inner">
                        {% for publisher in game.publishers.all %}
                        {% if forloop.last %}
                        <a href="#" class="publisher-link">{{ publisher }}</a>
                        {% else %}
                        <a href="#" class="publisher-link">{{ publisher }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tag-list d-flex flex-column my-1 ps-4">
                    <span><strong> Tags: </strong></span>
                    <div class="tag-list-inner">
                        {% for tag in game.tags.all %}
                        {% if forloop.last %}
                        <a href="#" class="tag-link">{{ tag }}</a>
                        {% else %}
                        <a href="#" class="tag-link">{{ tag }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="feature-list d-flex flex-column my-1 ps-4">
                    <span><strong> Features: </strong></span>
                    <div class="feature-list-inner">
                        {% for feature in game.features.all %}
                        {% if forloop.last %}
                        <a href="#" class="feature-link">{{ feature }}</a>
                        {% else %}
                        <a href="#" class="feature-link">{{ feature }}</a>,
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h2 class="ui-font h4 mt-3">age rating</h2>
                <div class="ratings-list d-flex flex-column ps-4">
                    <div class="ratings-list-inner d-flex align-items-center">
                        <img class="img-fluid mx-1" src="{{ MEDIA_URL }}{{ game.ratingset.esrb_rating.image }}"
                            alt="{{ game.ratingset.esrb_rating }}"
                            title="ESRB Rating: {{ game.ratingset.esrb_rating }}">
                        <img class="img-fluid mx-1" src="{{ MEDIA_URL }}{{ game.ratingset.pegi_rating.image }}"
                            alt="{{ game.ratingset.pegi_rating }}"
                            title="PEGI Rating: {{ game.ratingset.pegi_rating }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    const ratingLevels = {
        0: ["", "Neutral"],
        1: ["tomato", "Awful"],
        2: ["orange", "Bad"],
        3: ["dodgerblue", "Average"],
        4: ["mediumseagreen", "Good"],
        5: ["slateblue", "Very Good"]
    }

    let gameRating = document.querySelectorAll('.game-detail-rating span')
    let ratingScore = gameRating[0]
    let ratingScoreFloat = gameRating[0].innerHTML
    let ratingMessage = gameRating[1]
    if (ratingScoreFloat >= 0 && ratingScoreFloat < 1) {
        ratingMessage.innerText = "Neutral";
    } else if (ratingScoreFloat >= 1 && ratingScoreFloat < 2) {
        ratingScore.style.color = ratingLevels[1][0];
        ratingMessage.innerText = ratingLevels[1][1];
        ratingMessage.style.color = ratingLevels[1][0]
        ratingScore.parentElement.parentElement.style.borderColor = ratingLevels[1][0]
    } else if (ratingScoreFloat >= 2 && ratingScoreFloat < 3) {
        ratingScore.style.color = ratingLevels[2][0];
        ratingMessage.innerText = ratingLevels[2][1];
        ratingMessage.style.color = ratingLevels[2][0]
        ratingScore.parentElement.parentElement.style.borderColor = ratingLevels[2][0]
    } else if (ratingScoreFloat >= 3 && ratingScoreFloat < 4) {
        ratingScore.style.color = ratingLevels[3][0];
        ratingMessage.innerText = ratingLevels[3][1];
        ratingMessage.style.color = ratingLevels[3][0]
        ratingScore.parentElement.parentElement.style.borderColor = ratingLevels[3][0]
    } else if (ratingScoreFloat >= 4 && ratingScoreFloat < 5) {
        ratingScore.style.color = ratingLevels[4][0];
        ratingMessage.innerText = ratingLevels[4][1];
        ratingMessage.style.color = ratingLevels[4][0]
        ratingScore.parentElement.parentElement.style.borderColor = ratingLevels[4][0]
    } else if (ratingScoreFloat == 5) {
        ratingScore.style.color = ratingLevels[5][0];
        ratingMessage.innerText = ratingLevels[5][1];
        ratingMessage.style.color = ratingLevels[5][0]
        ratingScore.parentElement.parentElement.style.borderColor = ratingLevels[5][0]
    }

    let ratingStars = document.querySelectorAll('.star')
    let starsMessage = document.querySelector('.stars-message')

    ratingStars.forEach(star => {
        const starNumber = star.dataset.id
        const sliceStars = Object.entries(ratingStars).slice(0, starNumber)
        star.addEventListener('mouseover', e => {
            sliceStars.forEach(slice => {
                slice[1].style.color = ratingLevels[starNumber][0];
                starsMessage.innerText = ratingLevels[starNumber][1];
            })
        })
        star.addEventListener('mouseout', e => {
            sliceStars.forEach(slice => {
                slice[1].style.color = '#1f1f1f';
                starsMessage.innerText = "\u00A0"
            })
        })
    })
</script>
{% endblock %}