{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block page_header %}
<div class="container my-5">
    <div class="games row">
        {% for game in games %}
        <div class="game col-6 col-md-3 col-lg-2 {% if game.in_promo and game.promo.active is True %}sale{% endif %}">
            <div class="game-cover--front">
                <div class="game-cover-image">
                    {% if game|use_media:'COVER.src' is not None %}
                    <img src="{{ MEDIA_URL }}{{ game|use_media:'COVER.src' }}" alt="{{ game|use_media:'COVER.descr' }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="This game does not yet have a cover image!">
                    {% endif %}
                </div>
                <p class="game-title">{{ game.name }}</p>
            </div>
            <div class="game-cover--reverse d-flex justify-content-between align-items-end">
                <button type="button" onclick="alert('This works!')" aria-label="Add to cart" class="add-cart btn"><span>Add to </span><i class="fa-solid fa-cart-plus"></i></button>
            </div>
            <div class="game-back--front">
                <p class="game-title">{{ game.name }}</p>
            </div>
            <div class="game-back--reverse d-flex {% if game.in_promo and game.promo.active is True%} justify-content-end {% else %} justify-content-between {% endif %} align-items-end">
                {% if game.in_promo and game.promo.active is True%}
                <div class="promo-discount">
                    -{{ game.promo_percentage }}%
                </div>
                {% endif %}
                <div class="game-price">£
                    {% if game.in_promo and game.promo.active is True%}{{game.final_price}}{% else %}{{ game.base_price }}{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}