{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container my-3 my-md-5">
    <div class="row justify-content-evenly align-items-start">
        <div id="games-filter" class="d-none d-md-block col-3plus card px-0">
            <form action="" class="d-flex flex-column pt-3">
                <div class="form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="saleOnly">
                    <label class="form-check-label" for="saleOnly">
                        On Sale Only
                    </label>
                </div>
                <div class="form-check ms-3">
                    <input class="form-check-input" type="checkbox" id="dlcAndExtras">
                    <label class="form-check-label" for="dlcAndExtras">
                        Hide DLCs and extras
                    </label>
                </div>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Price Range
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div id="price-slider"></div>
                                <div class="priceInput input-group mt-3">
                                    <input class="form-control" name="price-slider__from" id="price-slider__from">
                                    <span class="input-group-text">to</span>
                                    <input class="form-control" name="price-slider__to" id="price-slider__to">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Genres
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                {% for genre in genres %}
                                <div class="form-check ms-3">
                                    <input class="form-check-input" type="checkbox" id="{{ genre.slug }}">
                                    <label class="form-check-label" for="{{ genre.slug }}">
                                        {{ genre.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Tags
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                {% for tag in tags %}
                                <div class="form-check ms-3">
                                    <input class="form-check-input" type="checkbox" id="{{ tag.slug }}">
                                    <label class="form-check-label" for="{{ tag.slug }}">
                                        {{ tag.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                Platform
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                {% for platform in platforms %}
                                <div class="form-check ms-3">
                                    <input class="form-check-input" type="checkbox" id="{{ platform.slug }}">
                                    <label class="form-check-label" for="{{ platform.slug }}">
                                        {{ platform.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFive">
                                Features
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                {% for feature in features %}
                                <div class="form-check ms-3">
                                    <input class="form-check-input" type="checkbox" id="{{ feature.slug }}">
                                    <label class="form-check-label" for="{{ feature.slug }}">
                                        {{ feature.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSix">
                                Release Date
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                <div id="release-date-slider"></div>
                                <div class="release-dateInput input-group mt-3">
                                    <input class="form-control" name="release-date-slider__from" id="release-date-slider__from">
                                    <span class="input-group-text">to</span>
                                    <input class="form-control" name="release-date-slider__to" id="release-date-slider__to">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="games-list" class="col-8plus">
            <div id="games-header" class="row card mb-2 d-flex flex-row">
                <div class="col-6 card-body d-flex align-items-center">
                    <a class="btn btn-light {% if not page.has_previous %}disabled{% endif %}"
                        href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% else %}#{% endif %}"
                        href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% else %}#{% endif %}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <div class="col-1 me-1">
                        <label for="page-input" class="visually-hidden form-label">Page Number</label>
                        <input type="number" class="form-control" id="page-input" placeholder="{{ page.number }}">
                    </div>
                    <span>of {{ page.paginator.num_pages }}</span>
                    <a class="btn btn-light {% if not page.has_next %}disabled{% endif %}"
                        href="{% if page.has_next %}?page={{ page.next_page_number }}{% else %}#{% endif %}"
                        aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </div>
                <div class="col-3 offset-3 card-body">
                    <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Open this select menu</option>
                        <option value="1">Price (from highest)</option>
                        <option value="2">Price (from lowest)</option>
                        <option value="3">Discount (from highest)</option>
                        <option value="4">Title (A to Z)</option>
                        <option value="5">Title (Z to A)</option>
                        <option value="6">Release Date (newest first)</option>
                        <option value="7">Release Date (oldest first)</option>
                        <option value="8">Rating (from highest)</option>
                      </select>
                </div>
            </div>
            <div class="games row">
                {% for game in page %}
                <div
                    class="game col-6 col-sm-3 col-md-4 col-xl-3 {% if game.in_promo and game.promo.active is True %}sale{% endif %}">
                    <div class="game-cover--front">
                        <div class="game-cover-image">
                            {% if game|use_media:'COVER.src' is not None %}
                            <img src="{{ MEDIA_URL }}{{ game|use_media:'COVER.src' }}"
                                alt="{{ game|use_media:'COVER.descr' }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.jpg" alt="This game does not yet have a cover image!">
                            {% endif %}
                        </div>
                        <p class="game-title">{{ game.name }}</p>
                    </div>
                    <div class="game-cover--reverse d-flex justify-content-between align-items-end">
                        <button type="button" onclick="alert('This works!')" aria-label="Add to cart"
                            class="add-cart btn"><span>Add to </span><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                    <div class="game-back--front">
                        <p class="game-title">{{ game.name }}</p>
                    </div>
                    <div
                        class="game-back--reverse d-flex {% if game.in_promo and game.promo.active is True%} justify-content-end {% else %} justify-content-between {% endif %} align-items-end">
                        {% if game.in_promo and game.promo.active is True%}
                        <div class="promo-discount">
                            -{{ game.promo_percentage }}%
                        </div>
                        {% endif %}
                        <div class="game-price">£
                            {% if game.in_promo and game.promo.active is True%}{{game.final_price}}{% else %}{{ game.base_price }}{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block corecss %}
<link href="{% static 'css/nouislider.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}

{% block corejs %}
<script src="{% static 'js/nouislider.js' %}"></script>
<script src="{% static 'js/wNumb.min.js' %}"></script>
{{ block.super }}
{% endblock %}

{% block postloadcss %}
<style>
    #price-slider__from,
    #price-slider__to {
        padding: 7px;
        margin: 15px 5px 5px;
        width: 70px;
    }
</style>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    let priceSlider = document.getElementById('price-slider');
    let priceNodes = [
        document.getElementById('price-slider__from'),
        document.getElementById('price-slider__to'),
    ]

    priceSliderCeiling = Number("{{price_slider_ceil}}")

    noUiSlider.create(priceSlider, {
        start: [0, priceSliderCeiling],
        connect: true,
        step: 10,
        range: {
            'min': 0,
            'max': priceSliderCeiling
        },
        format: wNumb({
            decimals: 2,
            thousand: ',',
            prefix: '£'
        })
    });

    priceSlider.noUiSlider.on('update', function (values, handle) {
        priceNodes[handle].value = values[handle]
    });

    priceNodes[0].addEventListener('change', function () {
        priceSlider.noUiSlider.set([this.value, null]);
    });

    priceNodes[1].addEventListener('change', function () {
        console.log("Hello")
        priceSlider.noUiSlider.set([null, this.value]);
    });

    let releaseDateSlider = document.getElementById('release-date-slider');
    let dateNodes = [
        document.getElementById('release-date-slider__from'),
        document.getElementById('release-date-slider__to'),
    ]

    noUiSlider.create(releaseDateSlider, {
        start: [1980, new Date().getFullYear()],
        connect: true,
        step: 1,
        range: {
            'min': 1980,
            'max': new Date().getFullYear()
        },
        format: wNumb({
            decimals: 0,
        })
    });

    releaseDateSlider.noUiSlider.on('update', function (values, handle) {
        dateNodes[handle].value = values[handle]
    });

    dateNodes[0].addEventListener('change', function () {
        releaseDateSlider.noUiSlider.set([this.value, null]);
    });

    dateNodes[1].addEventListener('change', function () {
        releaseDateSlider.noUiSlider.set([null, this.value]);
    });
</script>

<script>
    let pageInput = document.getElementById('page-input');

    function goToPage(e) {
        if (e.type === 'blur' || e.code === "Enter" || e.code === "NumpadEnter") {
            if (pageInput.value != "" && pageInput.value != pageInput.placeholder) {
                console.log("Away we go!")
                window.location.href = `/games/?page=${pageInput.value}`;
            }
        }
    }

    pageInput.addEventListener('blur', e => {
        goToPage(e)
    });
    pageInput.addEventListener('keyup', e => {
        goToPage(e)
    })
</script>
{% endblock %}