{% extends "base.html" %}
{% load static %}
{% load tags %}
{% load cart_tags %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 card">
            {% if 'add' in request.path %}
            <form action="{% url 'game_add' model_name %}" method="post" class="row card-body justify-content-center">
            <h2 class="text-center ui-font">Add New Media</h2>
            {% elif 'edit' in request.path %}
            <form action="{% url 'game_edit' model_name game_id %}" method="post" class="row card-body justify-content-center">
            <h2 class="text-center ui-font">Edit Media</h2>
            {% endif %}
                <hr class="my-3">
                {% csrf_token %}
                <fieldset class="col-12 col-md-6 col-xl-4 d-flex flex-column align-items-start" name="input">
                </fieldset>
                <button type="submit" class="btn btn-gamebox-alt col-auto">Save and Exit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}