{% extends "../base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col col-md-6 col-xl-4">
            <div id="allauth__inactive" class="card my-5">
                <div class="card-body d-flex flex-column align-items-center">
                    <h1 class="card-title text-center">{% trans "Account Inactive" %}</h1>

                    <p class="my-2">{% trans "This account is inactive." %}</p>
                    <a role="button" href="{% url 'home' %}" class="btn btn-outline-gamebox mt-3 mb-1">TO HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}