{% extends "../base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row">
    {% include "includes/account_nav.html" %}
    <div class="col col-lg-6 col-xl-4 mb-3 p-0 px-2 px-md-0 me-md-2">
      <div id="allauth__emails" class="card">
        <div class="card-body d-flex flex-column align-items-center">
          <h1 class="card-title text-center">{% trans "e-mail Addresses" %}</h1>
          {% if user.emailaddress_set.all %}
          <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

          <form action="{% url 'account_email' %}" class="w-100 email_list" method="post">
            {% csrf_token %}
            <fieldset class="blockLabels">
              <legend class="visually-hidden">E-mail Addresses</legend>
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-center">
                    <tr>
                      <td scope="col"></td>
                      <th scope="col">E-mail</th>
                      <th scope="col">Status</th>
                      <th scope="col">Use</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for emailaddress in user.emailaddress_set.all %}
                    <tr>
                      <td>
                        <label for="email_radio_{{forloop.counter}}"
                          class="{% if emailaddress.primary %}primary_email{%endif%} form-check-label visually-hidden">
                          {{ forloop.counter }}
                        </label>
                          <input id="email_radio_{{forloop.counter}}" type="radio" name="email" class="form-check-input"
                            {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"
                            {%endif %} value="{{emailaddress.email}}">
                      </td>
                      <td>{{ emailaddress.email }}</td>
                      <td class="text-center">{% if emailaddress.verified %}
                        <span class="verified">{% trans "Verified" %}</span>
                        {% else %}
                        <span class="unverified">{% trans "Unverified" %}</span>
                        {% endif %}</td>
                      <td class="text-center">{% if emailaddress.primary %}<span
                          class="primary">{% trans "Primary" %}</span>{% endif %}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="d-flex justify-content-center buttonHolder">
                <button class="btn btn-outline-gamebox btn-sm me-2 secondaryAction" type="submit"
                  name="action_primary">{% trans 'Make Primary' %}</button>
                <button class="btn btn-outline-gamebox btn-sm me-2 secondaryAction" type="submit"
                  name="action_send">{% trans 'Re-send Verification' %}</button>
                <button class="btn btn-outline-danger btn-sm me-2 primaryAction" type="submit"
                  name="action_remove">{% trans 'Remove' %}</button>
              </div>

            </fieldset>
          </form>
          {% if can_add_email %}
          <form method="post" action="{% url 'account_email' %}" class="mt-3 w-100 add_email">
            <fieldset>
              {% csrf_token %}
              <legend class="visually-hidden">Add New Email</legend>
              {% for field in form %}
              <div class="input-group mb-3">
                <input name="{{ field.name }}" id="{{ field.name }}" type="email" class="form-control" placeholder="Add New Email Address"
                  aria-label="Email">
                <label for="{{ field.name }}" class="visually-hidden">{% trans field.label %}</label>
                <button name="action_add" type="submit"
                  class="btn input-group-text btn-outline-gamebox">{% trans "Add" %}</button>
              </div>
              {% endfor %}
            </fieldset>
          </form>
          {% endif %}

          {% else %}
          <p><strong>{% trans 'Warning:'%}</strong>
            {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
          </p>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
  (function () {
    var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
    var actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function (e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>
{% endblock %}