{% extends "../base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col col-xs-4 col-sm-10 col-md-7 col-xl-4 my-5">
            <div id="allauth__pw_key" class="card">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title py-3 text-center">{% trans "change password" %}</h1>
                    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
                    <a href="{% url 'account_login' %}" class="my-2 mx-auto btn btn-outline-gamebox"
                    role="button">{% trans 'LOGIN' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}