{% extends "../base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div id="allauth__reset" class="card">
                <div class="card-body d-flex flex-column align-items-center">
                    <h1 class="card-title py-3 text-center">{% trans "Set Password" %}</h1>

                    <form method="post" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
                    </form>
                    <a role="button" href="{% url 'home' %}" class="btn btn-outline-gamebox mt-3 mb-1">TO HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}