{% extends "base.html" %}
{% load static %}
{% load promo_tags %}
{% load tags %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="promo-header">
    <img class=""
        src="{{ MEDIA_URL }}{{ promo|use_media:'LANDING.src' }}" alt="{{ MEDIA_URL }}{{ promo|use_media:'LANDING.descr' }}">
    <div class="promo-info w-100 px-5 py-2">
        <h1 id="promo-name" class="display-4 text-center">{{ promo.name|lower }}</h1>
        <p class="d-md-none short-description card-text">{{ promo.short_description }}</p>
        <p class="d-none d-md-block long-description card-text">{{ promo.long_description }}</p>
    </div>
</div>
<div id="promo-carousel" class="container__shadow position-relative">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="mt-4">Get 'em while you can</h2>
                <hr>
                <div id="promo-carousel-inner" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        {% for slide in promo.apply_to_game.all|slide_split:request %}
                        {% if forloop.first %}
                        <button type="button" data-bs-target="#promo-carousel-inner" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide {{ forloop.counter}}"></button>
                        {% else %}
                        <button type="button" data-bs-target="#promo-carousel-inner"
                            data-bs-slide-to="{{ forloop.counter|add:'-1' }}" aria-current="false"
                            aria-label="Slide {{ forloop.counter}}"></button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for slide in promo.apply_to_game.all|slide_split:request %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                                {% endif %}
                                <div class="d-flex row w-100">
                                    {% for game in slide %}
                                    <div class="card-holder col col-md-4 col-lg-3">
                                        <div class="card d-flex mx-1">
                                            <a href="#" class="card-body p-0">
                                                <img src="{{ MEDIA_URL }}{{ game|use_media:'LANDING.src' }}" class=""
                                                    alt="{{ game|use_media:'LANDING.descr' }}">
                                            </a>
                                            <div class="card-body">
                                                {{ game.name }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#promo-carousel-inner"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#promo-carousel-inner"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}