  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Are you sure you would like to delete
                  {% if game or dlc %}
                  game {{ game }}
                  {% elif promo %}
                  promo {{ promo }}
                  {% elif 'media/' in request.path %}
                  this media object
                  {% endif %}
                  ?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  {% if game or dlc %}
                  <a class="btn btn-danger" href="{% url 'game_delete' game.model_name game.id %}">
                      Delete Game
                  </a>
                  {% elif promo %}
                  <a class="btn btn-danger" href="{% url 'promo_delete' promo.id %}">
                      Delete Promo
                  </a>
                  {% elif 'media/' in request.path %}
                  <a id="media-delete" href="#" class="btn btn-danger text-small me-1">
                      Delete Media
                  </a>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>