<div id="games-filter" class="d-none d-md-block col-3plus card px-0">
    <form action="{% url 'games' %}" class="d-flex flex-column pt-3" id="game-filter-form">
        <input type="hidden" name="filter" value="true">
        <div class="btn-group mb-3 px-3" role="group" aria-label="Filter submit and reset buttons">
            <button class="btn btn-secondary" type="reset" id="filter_reset">Reset</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="form-check ms-3">
            <input class="form-check-input" type="checkbox" id="saleOnly" name="sale_only" {% if "sale_only" in filter_dict %} checked {% endif %}>
            <label class="form-check-label" for="saleOnly">
                On Sale Only
            </label>
        </div>
        <div class="form-check ms-3">
            <input class="form-check-input" type="checkbox" id="dlcAndExtras" name="hide_extras" {% if "hide_extras" in filter_dict %} checked {% endif %}>
            <label class="form-check-label" for="dlcAndExtras">
                Hide DLCs and extras
            </label>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Price Range
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <fieldset id="price">
                            <input type="hidden" name="price_range">
                            <div id="price-slider"></div>
                            <div class="priceInput input-group mt-3">
                                <input class="form-control" id="price-slider__from" >
                                <span class="input-group-text">to</span>
                                <input class="form-control" id="price-slider__to">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Genres
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <fieldset id="genres">
                            <input type="hidden" name="genres_filter">
                            {% for genre in genres %}
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="checkbox" id="genre-{{ genre.slug }}"
                                    value="{{ genre.slug }}" {% if genre.slug in filter_dict %} checked {% endif %}>
                                <label class="form-check-label" for="genre-{{ genre.slug }}">
                                    {{ genre.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Tags
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <fieldset id="tags">
                            <input type="hidden" name="tags_filter">
                            {% for tag in tags %}
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="checkbox" id="tag-{{ tag.slug }}"
                                    value="{{ tag.slug }}" {% if tag.slug in filter_dict %} checked {% endif %}>
                                <label class="form-check-label" for="tag-{{ tag.slug }}">
                                    {{ tag.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Platform
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <fieldset id="platforms">
                            <input type="hidden" name="platforms_filter">
                            {% for platform in platforms %}
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="checkbox"
                                    id="platform-{{ platform.slug }}" value="{{ platform.slug }}" {% if platform.slug in filter_dict %} checked {% endif %}>
                                <label class="form-check-label" for="platform-{{ platform.slug }}">
                                    {{ platform.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Features
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <fieldset id="features">
                            <input type="hidden" name="features_filter">
                            {% for feature in features %}
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="checkbox" id="feature-{{ feature.slug }}"
                                    name="features" value="{{ feature.slug }}" {% if feature.slug in filter_dict %} checked {% endif %}>
                                <label class="form-check-label" for="feature-{{ feature.slug }}">
                                    {{ feature.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                        Release Date
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <fieldset id="date">
                            <input type="hidden" name="date_range">
                            <div id="release-date-slider"></div>
                            <div class="release-dateInput input-group mt-3">
                                <input class="form-control" id="release-date-slider__from">
                                <span class="input-group-text">to</span>
                                <input class="form-control" id="release-date-slider__to">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>