{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        {% include "includes/account_nav.html" %}
        <div class="col col-lg-6 col-xl-4 mb-3 p-0 px-2 px-md-0 me-md-2">
            <div id="allauth__oauth_login" class="card">
                <div class="card-body d-flex flex-column align-items-center">
                    <h1 class="card-title py-3 text-center">{% trans "Account connections" %}</h1>

                    {% if form.accounts %}
                    <p>{% blocktrans %}You can sign in to your account using any of the following third party
                        accounts:{% endblocktrans %}</p>


                    <form class="w-100" method="post"
                        action="{% url 'socialaccount_connections' %}">
                        {% csrf_token %}

                        <fieldset class="d-flex flex-column align-items-center">
                            {% if form.non_field_errors %}
                            <div id="errorMsg">{{ form.non_field_errors }}</div>
                            {% endif %}

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Provider</th>
                                        <th scope="col">Account Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for base_account in form.accounts %}
                                    {% with base_account.get_provider_account as account %}
                                    <tr>
                                        <td>
                                            <label
                                                for="id_account_{{ base_account.id }}"><span class="visually-hidden">{{ account }}</span></label>
                                            <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                                value="{{ base_account.id }}">
                                        </td>
                                        <td>
                                            <span
                                                class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                                        </td>
                                        <td>
                                            {{ account }}
                                        </td>
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button class="btn btn-gamebox my-2" type="submit">{% trans 'Remove' %}</button>
                        </fieldset>

                    </form>

                    {% else %}
                    <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
                    {% endif %}

                    <h2 class="fs-4 mt-2">{% trans 'ADD A 3RD PARTY ACCOUNT:' %}</h2>

                    <ul class="socialaccount_providers my-2">
                        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                    </ul>

                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}