{% extends "socialaccount/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-8 col-md-6 col-xl-4">
      <div id="allauth__oauth_login" class="card my-5">
        <div class="card-body d-flex flex-column align-items-center">
          <h1 class="card-title py-3 text-center">{% trans "Sign Up" %}</h1>
          <p class="text-center">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
            {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

          <form class="signup w-100 d-flex flex-column align-items-center" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-gamebox my-2" type="submit">{% trans "SIGN UP" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}